.header{
    height: 60px;
    display: flex;
    list-style-type: none;
    color: gray;
    background-color: #fff;
}
.header ul{
    list-style-type: none;
}
.logo{
    height: 60px;
}
.barr{
    cursor: pointer;
    width: 90%;
}
.topnav{
    display: flex;
    justify-content: space-between;
    height: 20px;
    
}
.bottomnav{
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.blnav{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
    width: 70%;
    align-items: center;
    font-weight: bold;
}
.brnav{
    display: flex;
    font-size: 5px;
    width: 15px;
}
.tlnav{
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
    font-size: 9px;
    font-weight: bold;
}
.button{
    border-radius: 30px;
    color: red;
    font-size: 10px;
}
.section0{
    height: 30px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 1px 1px 3px 0px #8080805e;
    font-size: 10px;
    padding-left: 7px;
}
.section1{
    height: 550px;
    background-image: url(./brandshop/images/section1-image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section1 h1{
    align-items: center;
    width: 450px;
    font-size: 43px;
    text-align: center;
    margin-top: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}
.section2{
    height: 200px;
    display: flex;
    background-color: rgb(48, 44, 44);
    color: #fff;
}
.note{
    font-size: 10px;
}
.caption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin-top: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.caption p{
    width: 61%;
    font-size: 13px;
}
.caption h1{
    line-height: 0.3;
}
.section3{
    height: 600px;
    background-image: url(./brandshop/images/section2-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.caption2{
    margin-bottom: 50px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.caption2 h1{
    width: 90%;
    font-size: 40px;
    text-align: center;
}
.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
    background-image: url(./brandshop/images/section3-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.caption4{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img4{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.section5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 450px;
}
.caption5{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img5{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-image: url(./brandshop/images/section4-image.jpg);
}